@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-dark: #0a0a0a;
	--color-light: #f5f5f5;
	--color-dark-border: #3a3a3a;
	--color-light-border: #a5a5a5;
	--color-dark-hover: #2a2a2a;
	--color-light-hover: #e5e5e5;

	--breakpoint-*: initial;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;

	--container-*: initial;
	--container-sm: 40rem;
	--container-md: 48rem;
	--container-lg: 64rem;
	--container-xl: 80rem;

	--font-*: initial;
	--font-sans: "Geist", sans-serif;
	--font-mono: "Geist Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		@apply border-dark-border dark:border-light-border;

		scrollbar-width: thin;
		scrollbar-color: var(--color-dark-border);

		@variant dark {
			scrollbar-color: var(--color-light-border);
		}
	}

	body {
		@apply bg-light dark:bg-dark text-dark dark:text-light m-0 font-sans;
	}

	button,
	[role="button"] {
		@apply cursor-pointer;
	}
}
